img {
  width: 400px;
}
#initially-showing {
  display: none;
}
#initially-shown {
  display: none;
}
.clickable {
  cursor: pointer;
  color: #960e8f; 
}
.clickable:hover {
  text-decoration: underline;
}
.clickypoo {
  cursor: pointer;
  color: #960e8f; 
}
.clickypoo {
  text-decoration: underline;
}